body {
   box-sizing: content-box;
   background: url("../img/bg.jpg") repeat;
}

.no-bg {
   background: white;
}

hr {
   height: 10px;
   color: black;
}

.block-img {
   width: 100%;
   display: block;
}

/* Auto dropdown for navbar menu */
@media only screen and (min-width: 992px) {

   #navbar {
      padding: 0 !important;
   }


   .navbar li.dropdown:hover .dropdown-menu {
      display: block;
   }

   .navbar li {
      border-left: 1px solid gray;
      background: white;
      border-bottom: transparent 3px solid;
      text-align: center;
   }

   .navbar li:hover {
      border-bottom: black 3px solid;
   }

}



/* COMMON */
.footer {
   text-align: center;
   padding-top: 20px;
   background-color: #4C4C4C;
   height: 480px;
   border-top: #02A7E2 6px solid;
   color: white;
   font-size: 14px;
}

.footer a {
   font-size: 12px;
   line-height: 12px;
   color: white;
   text-decoration: underline;
}

.footer a:hover {
   text-decoration: none;
}

/* TODO: Fix for mobile */
.banner-images {
   width: 100%;
   overflow-x: none;
   white-space: nowrap;
   overflow: none;
}

.banner-images img {
   display: inline-block;
   white-space: normal;
   margin: 0;
   height: 8vw;

   width: calc(100%/6 - 6px);
}

.medium-container {
   width: 960px;
   max-width: 100%;
   margin: auto;
   padding: 25px;
   border-radius: 10px;
}

.skinny-container img .medium-container img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}

.skinny-container {
   width: 80%;
   margin: 0 auto;
}

.medium-container div,
.medium-container p,
.medium-container h1,
.skinny-container div,
.skinny-container p,
.skinny-container h1 {
   text-align: left;
}


@media (min-width: 768px) {

   .medium-container {

      width: 960px;
      margin: auto;
   }

   .skinny-container {
      width: 768px;
      max-width: 80%;
   }

}



/* END COMMONN */

.dropdown-menu {
   width: 100%;
}

ul.nav {
   background-color: white;
}

ul.nav li {
   border-left: 1px gray solid;
   border-right: 1px gray solid;
}

#logo-header {
   margin: 0 auto;
   text-align: center;
}

#logo-header img {
   display: block;
   margin: 0 auto;
   width: 560px;
   ;
   height: auto;
   max-width: 100%;
   max-height: 88px;
}

.subheader {
   padding: 12px;
   left: 0;
   right: 0;
   background-color: rgba(255, 255, 255, 0.70);
}

/* .translucent-bg {
   background-color: rgba(255, 255, 255, 0.66);
} */

.subheader>* {
   font-weight: bold;
   background-color: transparent;
}

#phone {
   float: left;
}

#location {
   float: right;
}

.content-container {
   padding-top: 10px;
   /* background: url("../img/bg.jpg") repeat; */
   z-index: 1;
   text-align: center;
}

.blue-divider {
   background: #1B97B6;
}

.orange-divider {
   background: #1B97B6;
}

.video-divider {
   height: 66px;
}

.video-divider2 {
   background-color: #F17C2D;
   height: 30px;
}

.billboard {
   margin: 40px auto;
   display: block;
   width: 75%;
}

.about-block {
   width: 80%;
   text-align: justify !important;
   margin: 0 auto;
}

.service-tiles {
   margin: 30px 0;
}

.service-tiles div {
   display: inline-block;
}

.service-tiles a {
   display: block;
}

.service-tiles img {
   height: 227px;
   width: 300px;
}

.service-tiles .service-label {
   margin-top: 8px;
   width: 100%;
   background-color: #F17C2D;
   color: white;
   font-weight: bold;
}

.dropdown-item.active,
.nav-item.active {
   background-color: #EEEEEE;
   color: black;
}

.locations a {
   display: inline-block;
   margin: 0 2px;
}

.video-win,
.video video {
   display: none;
}



.mobile-video-replacement {
   display: block;
   width: 100%;
}

.mobile-video-replacement .row>div {
   height: 200px;
   width: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.home-tile1 {
   background-image: url(../img/dr-fox-patient-7.jpg);
}

.home-tile2 {
   background-image: url(../img/dr-fox-patient-2-u87283-fr.jpg);
}

.home-tile3 {
   background-image: url(../img/dr-fox-patient-5.jpg);
}

.home-tile4 {
   background-image: url(../img/dr-fox-patient-8-u87309-fr.jpg);
}

@media only screen and (min-width: 992px) {
   .about-block {
      width: 80%;
      max-width: 900px;
      text-align: justify !important;
   }

   .mobile-video-replacement {
      display: none;
   }

   .video {
      z-index: -999;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      min-height: 800px;
   }

   .video video {
      display: block;
      -webkit-transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: fixed;
      left: 50%;
      top: 50%;
   }

   .video-win {
      display: block;
      height: 800px;
   }
}

/* ABOUT.HTML */

.about-bio-container {
   width: 800px;
   max-width: 100%;
   margin: 30px auto;
}

.about-bio {
   text-align: left;
}

/* .textured-bg {
   background: url("../img/bg.jpg") repeat;
} */


@media only screen and (min-width: 992px) {
   .about-bio-container {
      width: 800px;
   }
}



/* END ABOUT.HTML */

/* SERVICES */

.services-contact-us {
   display: inline-block;
   padding: 0;
   margin: 50px auto;
   border-style: groove;
   border-width: 2px;
   width: 781px;
   max-width: 80%;
   box-shadow: 10px 10px 10px rgba(150, 150, 150, .6);
}

.services-contact-us img {

   max-width: 100%
}

/* END SERVICES */

/* NEWS */

.tumblr-img {
   width: 100%;
   height: auto;
   border-radius: 10px 10px 0 0;
}

.tumblr-article {
   background-color: white;
   padding: 15px;
   border-radius: 0 0 10px 10px;
}

.tumblr-article a {
   color: #315F7A;
   text-decoration: underline;
}

.tumblr-article a:hover {
   color: black;
   text-decoration: underline;
}

.tumblr-article a:active {
   color: #800080;
   text-decoration: underline;
}

/* END NEWS */

/* CONTACT */

.contact-header {
   padding: 10px 0;
}

.contact-info {
   width: 600px;
   max-width: 100%;
   margin: auto;
}

.contact-info .row div:nth-child(2) {
   margin-top: auto;
   margin-bottom: auto;
}

.contact-info .row>div {
   display: inline-block;

}

.contact-info img {
   width: 64px;
   height: 64px;
}

.contact-info .row {
   margin: 20px;
}

.contact-border {
   border-bottom: 3px solid black;
}

/* END CONTACT */