
body, html {
  margin: 0;
  padding: 0;
  background: #007f00;
}

#board {
  /*height: 500px;*/
}

.card {
  position:absolute;
  background: transparent url(img/cards/cards.png) no-repeat;
  width: 72px;
  height: 96px;
}

.placeholder {
  position:absolute;
  background: transparent url(img/cards/placeholder.png) no-repeat;
  width: 72px;
  height: 96px;
}

ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

ul#toolbar {
  background: #E0E2EB;
  height:20px;
}

#toolbar li {
  float:left;
  position: relative;
  margin:0;
  padding:0;
}

#toolbar li a {
  display: block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 11px;
  color:black;
  padding: 3px 5px;
}

#toolbar li a:hover  {
  background:#BBB7C7;  
}

.kingLookingLeft {
  width: 72px;
  height: 96px;
  background: url(img/cards/lookl.jpg) no-repeat;
}

.kingLookingRight {
  width: 72px;
  height: 96px;
  background: url(img/cards/lookr.jpg) no-repeat;
}

img#winFace {
  position:absolute;
  top: 150px;
  left: 5px;
  zIndex: 6000;
}